@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #5b2333;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #f7f4f3;
}

#column-2 {
  background: #564d4a;
}

#column-3 {
  background: #f24333;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #ba1b1d;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color:#32213a ;
  }

  }
  #column-1 {
    background-color:#383b53 ;
  }

  #column-2 {
    background-color:#66717e ;
  }

  #column-3 {
    background-color:#d4d6b9 ;
    width: 100%;
  }

  footer {
    background-color:#d1caa1 ;
  }

  .col-3{
    width:50%;
  }





/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color:#70d6ff ;
  }

  #column-1 {
    background-color:#ff70a6 ;
  }

  #column-2 {
    background-color:#ff9770 ;
  }

  #column-3 {
    background-color:#ffd670 ;
    width: 33.3%;
  }

  footer {
    background-color:#e9ff70 ;
  }

  .col-3{
    width:33.3%;
  }
